@inherits LayoutComponentBase

<div class="container__b__0">
    <div class="lang"></div>
    <div class="content">
        <div class="top">
            <div class="header">
                <Avatar Shape="square" Size="large" Icon="user" Class="logo" Src="/images/logo.png" />
            </div>
            <div class="desc">Smart   Park   Portal</div>
        </div>
        @Body
    </div>
    @*<Meowv.Blog.Admin.Shared.Footer />*@
</div>